<button class="eui-interval-selector--previous" {{action 'onPrevious'}}>
  &lt;&lt;
</button>
<button class="eui-interval-selector--name" {{action 'onZoom'}}>
  {{name}}
</button>
<button class="eui-interval-selector--next" {{action 'onNext'}}>
  &gt;&gt;
</button>
