<button class="eui-interval-selector--previous" {{action 'on-previous'}}>
  &lt;&lt;
</button>
<button class="eui-interval-selector--name" {{action 'on-zoom'}}>
  {{name}}
</button>
<button class="eui-interval-selector--next" {{action 'on-next'}}>
  &gt;&gt;
</button>
