<ol class="eui-day-selector--daysofweek">
  <li class="eui-nameofday">Sun</li>
  <li class="eui-nameofday">Mon</li>
  <li class="eui-nameofday">Tue</li>
  <li class="eui-nameofday">Wed</li>
  <li class="eui-nameofday">Thu</li>
  <li class="eui-nameofday">Fri</li>
  <li class="eui-nameofday">Sat</li>
</ol>

<ol class="eui-day-selector--days">
  {{#each days as |day|}}
    {{#if hasBlock}}
      {{yield day}}
    {{else}}
      {{#if (moment-same-month month day)}}
        {{eui-interval
          moment=day
          interval='day'
          is-selected=(contains-day (get selection '[]') day)
          click=(action 'selectDay' day)
        }}
      {{else}}
        {{#eui-interval
          moment=day
          interval='day'
          is-empty=true
          is-selected=(contains-day (get selection '[]') day)
        }}{{/eui-interval}}
      {{/if}}
    {{/if}}
  {{/each}}
</ol>
