{{!-- <h4>default eui-month</h4>

{{eui-day-selector month=month selection=selection}} --}}

{{!-- <h4>eui-month with block params</h4>

{{#eui-month month=month selection=selection as |day|}}
  {{eui-day tagName="li" day=day is-disabled=(not (moment-same-month month day))}}
{{/eui-month}} --}}

<h4>eui-calendar</h4>

{{eui-calendar}}
